.addPlaceInner {
    padding: 72px 0;
    height: 100%;
    background-color: var(--bg-color);
}

.editor {
    margin: 30px 0;

    :global {
        .cm-s-easymde {
            border: 0;
            font-size: 22px;
        }

        .editor-toolbar {
            border: 0;
            background-color: rgb(0 0 0 / 5%);
        }
    }
}

.buttons {
    display: flex;
    gap: 8px;
}

.input {
    padding: 0;
    input {
        padding-left: 0;
        color: var(--text-color);
        &::placeholder {
            color: var(--text-color);
        }
    }
}
