.title {
    color: var(--inverted-text-color);
}

.text {
    color: var(--text-color);
}

.error {
    .title {
        color: red;
    }

    .text {
        color: rgb(222, 46, 46);
    }
}

.accent {
    .title {
        color: green;
    }

    .text {
        color: rgb(34, 245, 34);
    }
}


.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.size_s {
    .title {
        font: var(--font-m);
    }

    .text {
        font: var(--font-s);
    }
}

.size_m {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}

.size_xl {
    .title {
        font: var(--font-xxl);
    }

    .text {
        font: var(--font-xl);
    }
}

.bold {
    .title,
    .text {
        font-weight: 700;
    }
}

@media (max-width: 520px) {
    .size_l {
        .title {
                font: var(--font-l);
            }
        }
    
    .size_xl {
        .title {
            font-size: 76px;
        }
    }
}
