@import "variables";

body {
    margin: 0;
    font: var(--font-m);
    color: var(--text-color);
    background: var(--bg-color);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
    outline: none;
}

input {
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

ul,
ol {
    margin: 0;
    padding-left: 16px;
}

a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}
