:root {
    // Текст
    --font-family-main: 'Roboto', 'Arial';
    --font-size-s: 12px;
    --font-line-s: 16px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-size-xl: 40px;
    --font-line-xl: 48px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
    --font-size-xxl: 128px;
    --font-line-xxl: 136px;
    --font-xxl: var(--font-size-xxl) / var(--font-line-xxl) var(--font-family-main);

    // Размеры
    --navbar-height: 50px;

    // z - Индексы
    --modal-z-index: 100;
    --overlay-z-index: 100;

    // Цвета
    --bg-color: #fBf8f8;
    --primary-color: #f6254b;
    --secondary-color: #9a9394;
    --overlay-color: rgba(0 0 0 / 70%);
    --primary-color-light: #ff7b7e;
    --primary-color-gradient: linear-gradient(92.05deg, #f6254c 5.19%, #ff7b7e 85.6%);
    --text-color: #1f1f23;
    --inverted-text-color: #f1f1f1;
}
