.filePicker {
    padding: 12px 0;
}

.addButton {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    font-size: 120px;
    width: 1em;
    height: 1em;
    border: 1px dashed;
    border-radius: 3px;
    color: #ccc;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background: currentColor;
        pointer-events: none;
        border-radius: 2px;
    }
    &::before {
        width: 2px;
        height: 0.4em;
    }

    &::after {
        width: 0.4em;
        height: 2px;
    }

    &:hover {
        color: #757575;
    }

    &:focus-within {
        color: rgb(73, 161, 249);
    }
}

.addButtonInput {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &::-webkit-file-upload-button {
      cursor: pointer;
    }
}

.imagePreview {
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
}

.fileList {
    margin: 0;
    padding: 0;
    list-style: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'/%3E");
    display: inline;
}

.fileListItem {
    position: relative;
    padding: 4px;
    display: inline-block;
}

.fileListDelete {
    position: absolute;
    z-index: 1;
    top: 4px;
    right: 4px;
    transform: translate(50%, -50%);
    box-sizing: border-box;
    font-size: 20px;
    width: 1em;
    height: 1em;
    border: 2px solid;
    border-radius: 50%;
    color: #ccc;
    background: hsla(0, 0%, 100%, 0.5);

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 2px;
        height: 10px;
        background: currentColor;
        border-radius: 2px;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }

    &:hover {
        color: #ea5050;
        cursor: pointer;
    }     
}
