.navLink {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 15px;

    color: var(--inverted-text-color);
    text-decoration: none;
    opacity: 1;

    transition: background .2s linear;

    &::before {
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 50%;

        background-color: var(--primary-color);

        position: absolute;
        top: 9px;
        left: 0;
    }
}

.active {
    opacity: 0.8;
}
