.placeCard {
    position: relative;
    border-radius: 24px;
    width: 380px;
    height: 480px;
    background-color: #f7f3f3;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

.edit {
    display: flex;
    gap: 8px;
    padding: 16px;
    justify-content: end;
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
}

.title {
    display: flex;
    align-items: center;
    padding: 0 16px;
    background-color: rgba(10, 10, 11, 0.5);
    backdrop-filter: blur(1px);
    width: 100%;
    height: 92px;
    color: var(--inverted-text-color);
    border-radius: 0 0 24px 24px;
    position: absolute;
    bottom: 0;
}

.img {
    border-radius: 24px;
}
