.map {
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 64px;
}

.header {
    display: flex;
    justify-content: left;
    margin-bottom: 36px;
}

.title {
    position: relative;
    padding-left: 24px;

    &::before {
        content: "";
        width: 18px;
        height: 18px;
        border-radius: 50%;

        background-color: var(--primary-color);

        position: absolute;
        top: 3px;
        left: 0;
    }
}
