.burger {
    width: 30px;
    height: 23px;
    position: relative;
    padding: 0;
    background: none;
    border: 0;

    font-size: 0;

    display: none;
}

@media (max-width: 820px) {
    .burger {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .burgerLine {
        display: block;
        width: 28px;
        height: 3px;
        border-radius: 32px;
        background-color: var(--inverted-text-color);
        transition: transform .2s ease-out;
        
        &:nth-child(1) {
            width: 16px;
            margin-right: auto;
        }

        &:nth-child(1)
         {
            transform-origin: right;
            transition: width .2s ease-out;
        }
    }

    .active {
        .burgerLine {
            &:nth-child(1)
             {
                width: 0;
            }
        }

        .burgerLine {
            &:nth-child(2),
            &:nth-child(3) {
                position: absolute;
                left: 0;
                top: 50%;
                transform-origin: center;
            }
        }

        .burgerLine {
            &:nth-child(2) {
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }
}
